<% blogs.forEach(blog => { %>
    <a href="/<%= blog.id ? blog.id : 0 %>" class="blog">
        <img src="<%= blog.thumbnail != ' ' ? blog.thumbnail : 'images/päärynä.jpg'%>">
        <div>
            <h2><%= blog.title ? blog.title : "no title" %></h2>
            <p><%= blog.date ? blog.date : "no date" %></p>
            <p>By: <%= blog.user ? blog.user.username : "removed user"%></p>
            <p>Topic: <%= blog.topic ? blog.topic : "no topic" %></p>
            <p>Tags: <%= blog.tags ? blog.tags : "no tags" %></p>
        </div>
    </a>
<% });%>
